{% extends "baseG.html" %} {% load static %} {% block body %}

<div class="row">
  <div class="col-md-4 offset-md-4">
    <form method="POST" class="contact-form form-validate">
      <h1 class="text-center">Crear cuenta</h1>
      {% if messages %} {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Mensaje: </strong> {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% csrf_token %} {{formulario}}
      <input class="btn btn-success" type="submit" value="Registrar" />
    </form>
  </div>
</div>

{% endblock %}
