{% extends 'baseLangind.html' %} {% load static %} {% block content%}

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
  rel="stylesheet"
/>
<div class="container mt-5">
  <div class="contact__wrapper shadow-lg mt-n9">
    <div class="row no-gutters">
      <div
        class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2"
      >
        <h3 class="color--white mb-5">Bomberos Municipales de Totonicapán</h3>

        <ul
          class="contact-info__list list-style--none position-relative z-index-101"
        >
          <li class="mb-4 pl-4">
            <span class="position-absolute"
              ><i class="fas fa-envelope"></i
            ></span>
            municipalestoto@gmail.com
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"><i class="fas fa-phone"></i></span>
            1234-4565
          </li>
          <li class="mb-4 pl-4">
            <span class="position-absolute"
              ><i class="fas fa-map-marker-alt"></i
            ></span>
            Totonicapán Guatemala<br />
            10 calle zona 3 <br />
            Municipio de totonicapán

            <div class="mt-3">
              <a
                href="https://www.google.com/maps"
                target="_blank"
                class="text-link link--right-icon text-white"
                >Get directions <i class="link__icon fa fa-directions"></i
              ></a>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1 mt-5">
        <form method="POST" class="contact-form form-validate">
          <h1 class="text-center">Crear cuenta</h1>
          {% csrf_token %}

          <div class="row">
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="username">Nombre de usuario:</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                  placeholder="Escribe tu usuario"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="password1">Contraseña: </label>
                <input
                  type="password"
                  name="password1"
                  id="password1"
                  class="form-control"
                  placeholder="Escribe tu contraseña"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="password2">Repite tu contraseña: </label>
                <input
                  type="password"
                  name="password2"
                  id="password2"
                  class="form-control"
                  placeholder="Repite tu contraseña"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="email">Correo electronico: </label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="example@gmail.com"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="pdi">Número de dpi: </label>
                <input
                  type="pdi"
                  class="form-control"
                  id="pdi"
                  name="pdi"
                  placeholder="12311234564"
                />
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="name1">Primer nombre: </label>
                <input
                  type="name1"
                  class="form-control"
                  id="name1"
                  name="name1"
                  placeholder="Ej: Josue"
                />
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="name2">Segundo nombre: </label>
                <input
                  type="name2"
                  class="form-control"
                  id="name2"
                  name="name2"
                  placeholder="Ej: Luis"
                />
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="lastname1">Primer apellido: </label>
                <input
                  type="lastname1"
                  class="form-control"
                  id="lastname1"
                  name="lastname1"
                  placeholder="Ej: Gomez"
                />
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="lastname2">Segundo apellido: </label>
                <input
                  type="lastname2"
                  class="form-control"
                  id="lastname2"
                  name="lastname2"
                  placeholder="Ej: Gutierrez"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="brithday">Cuimpleaños </label>
                <input
                  type="date"
                  class="form-control"
                  id="brithday"
                  name="brithday"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="phone">Número de celular: </label>
                <input
                  type="phone"
                  class="form-control"
                  id="phone"
                  name="phone"
                  placeholder="4543-5453"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="municipio">Municipio: </label>
                <input
                  type="municipio"
                  class="form-control"
                  id="municipio"
                  name="municipio"
                  placeholder="Ej: Totonicapan"
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="direccion">Direccion: </label>
                <input
                  type="direccion"
                  class="form-control"
                  id="direccion"
                  name="direccion"
                  placeholder="Ej: Zona 2 de totonicapan 10ma avenida y 5ta calle "
                />
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="form-group">
                <label for="gender">Género</label>
                {% for radio in form.gender %}
                <div class="form-check">
                  {{ radio.tag }}
                  <!-- Renderiza el input de tipo radio -->
                  {{ radio.choice_label }}
                  <!-- Renderiza la etiqueta del radio -->
                </div>
                {% endfor %} {% if form.gender.errors %}
                <div class="text-danger">{{ form.gender.errors }}</div>
                {% endif %}
              </div>
            </div>
          </div>

          <input class="btn btn-success" type="submit" value="Registrar" />
        </form>
      </div>
      <!-- End Contact Form Wrapper -->
    </div>
  </div>
</div>

{% endblock content %}
